<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">ESTEREOTIPOS DE GENERO</h1>
        <p class="lead">La utilizacion de los esteriotipos de genero es dañina cuando genera violaciones de los derechos y las libertades fundamentales, por ejemplo, la falta de penalizacion de la violacion marital basadas en el concepto social de que la mujer es la propiedad sexual del hombre.
            https://co.pinterest.com/pin/472174342175821782/
        </p>
    </div>
    <center><img src="https://i.pinimg.com/originals/2f/f6/da/2ff6da6f8d8cd1a4f98cba0b6d3debbd.jpg" class="d-block w-50" alt="..."></center>
</div>

{% endblock%}
