{% extends "layout.html" %}
 {% block content %}
 

 <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">INFLUENCIA DEL ENTORNO FAMILIAR EN CUANTO AL RENDIMIENTO ACADEMICO.  </h1>
        <p class="lead">El entorno familiar es fundamental para que nuestros hijos tengan un adecuado y equilibrado desarrollo madurativo y normalizado a su edad.

            El ambiente familiar donde un niño se desarrolla como persona está expuesto a varios estímulos que provocan un resultado, más que resultado, consecuencias. De esas consecuencias se configuran unas actitudes; el conjunto de esas actitudes conforman un comportamiento, y el conjunto de esos comportamientos o conductas, generan las personalidades.
            
            Por lo tanto la influencia familiar influye de manera directa en nuestra personalidad. </p>
    </div>
    <center><img src="https://static.guiainfantil.com/uploads/educacion/familiaestudio-p.jpg" class="d-block w-50" alt="..."></center>
</div>

 {% endblock%}