{% extends "layout.html" %}
 {% block content %}

<center><div class="p-3 mb-6 bg-dark text-white">PROYECTO</div></center>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <center><img src="https://www.esan.edu.pe/conexion/actualidad/2017/10/26/1500x844_portafolio_proyectos.jpg" class="d-block w-50" alt="..."></center>
            
            <p class="font-weight-bold">Objetivo general: </p>
            <p class="font-weight-light">Desarrollar una aplicación que aporte a un cambio de concepto sociales sobre la equidad de género y ayude a disminuir la desigualdad de género por medio de didácticas desarrolladas.</p>
            <p class="font-weight-bolder">Objetivos Específicos:</p>
            <p class="font-weight-light">
                <p class="font-weight-light">1. Proporcionar un servicio para que los niños se incentiven a una convivencia sana.</p>
                <p class="font-weight-light">2. Ser conocidos por diferentes medios para así tener una gran crecimiento tecnológico.</p>
                <p class="font-weight-light">3. Lograr que con nuestro conocimiento ayudemos de diferentes maneras a los individuos.</p>
            <p class="font-weight-bolder">Planteamiento</p>
            <p class="font-weight-light">La igualdad o equidad de género es la quinta meta dentro de los 17 objetivos del Desarrollo Sostenible de la ONU para el 2030. Nos plantearemos principalmente en la desigualdad de género en la infancia, sabiendo que desde la niñez se incentivan las buenas
                practicas. Los problemas sobre este tema son muy frecuentes en el transcurso de los años escolares, por lo tanto, se encuentran 3 factores que tienen mucha relevancia al levantar la información; La primera está ligada a las características propias
                del estudiante, la segunda hace parte a las condiciones particulares de centro educativo y, por último, el entorno familiar y alrededores que lo acompaña. Esto teniendo en cuenta las condiciones en las que se encuentre el niño o estudiante determinando
                los factores principales como es la salud, la nutrición, saneamiento e higiene, la educación, protección y la inclusión social.</p>
            <p class="font-weight-bolder">Justificación </p>
            <p class="font-weight-light">Partiendo del problema podemos deducir ya las causas más presentadas como es la falta de valores dentro de la institución y sus efectos dentro de un ámbito escolar infantil, como los principales que es un mal desarrollo de una persona para la sociedad
                en diferentes ámbitos. Por ello es que se pensó en la manera en que ayudaría al mejoramiento dentro de la institución, ya que un aprendizaje ético y de calidad es lo que esta entre las principales metas de una institución educativa; también el saber
                que desde la niñez es una edad para el desarrollo libre de la personalidad, pero teniendo como base la ética y moral para ser una persona de bien dentro de la sociedad. Para ello se crea esta solución (E.D.G.E), en la cual se dan soluciones como lo
                son: -Mejoramiento de calidad ética y moral dentro de la institución. -Mejoramiento de libre personalidad en la niñez dentro y fuera de la institución. -Aporte de valores para la sociedad a futuro y sus propios valores. -Disminución de casos de desigualdad
                a nivel, local y nacional. -Evitar problemas a futuro como la expansión de este, creando subproblemas, familiares y de la misma persona dentro de sus ideales y sus valores. Gracias a tener esto en cuenta es que se puede mejorar la desigualdad gracias
                a E.D.G.E, generando un ambiente de confianza y conciencia en cada persona, desde el punto que no solo estos problemas van en la institución, sino también fuera de ella, en casa y amigos, que son las principales fuentes de aprendizaje y ayuda al desarrollo
                de la persona en su niñez.</p>

        </div>
        <center><img src="https://www.compartirpalabramaestra.org/sites/default/files/estilo-de-vida-vs.-proyecto-de-vida.jpg" class="d-block w-50" alt="..."></center>
    </div>
   

{% endblock %}