{% extends "layout.html" %}
 {% block content %}
 
 <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">¡DISTRAE TU MENTE APRENDIENDO DE LA DESIGUALDAD DE GENERO!</h1>
        <p class="lead">Aquí encuentras nuestra aplicación, para que puedas aprender muchas cosas de la desigualdad de género, de una forma muy didáctica, creativa y des estresante, puedes encontrar diferentes juegos que te ayudaran abrir la mente, y aprender muchas cosas nuevas para tu diario vivir</p>
    </div>
    <center><img src="https://static.vecteezy.com/system/resources/previews/000/303/836/non_2x/vector-two-boys-playing-with-cars.jpg" class="d-block w-50" alt="..."></center>
</div>

<div class="spinner-grow text-success" role="status">
    <span class="sr-only">Loading...</span>
  </div>


 {% endblock%}